header{
    background: white;
    padding: 0;
    border-bottom: 1px solid hsl(36, 80%, 53%);

}
a{
    color: hsl(36, 80%, 53%);
}

.container{
    margin: 0;
    display: flex;
    justify-content: space-between;
}
a.logo{
    font-weight: bold;
    padding: 1em;
    font-size: 1.5em;
}
nav ul{
    list-style-type: none;
    margin: 0;
}
nav ul li a{
    padding: 1em;
    display: inline-block;
}